.catalog {
  background-color: #e3dac9;
}
.catalog h3 {
  color: darkslateblue;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filterButtons button{
  margin-left: 5px;
}
.catalog h2{
  margin-top: 2rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;

}