.home h1{
    text-align: center;
    color: var(--nav-primary);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: bold;
}
.home {
    padding: 2rem;
}
.linkContainer {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.homeLink {
    background-color: var(--nav-primary);
    border-radius: 10px;
    padding: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--nav-text);
}
.homeLink:hover {
    background-color: var(--nav-background);
    color: var(--nav-text);
}